* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background: no-repeat;
  text-shadow: #1f1f1f 5px 2px 4px;
  color: #fff;
}

.wrapper {
  display: grid;
  place-items: center;
  z-index: 1000
}

.blur {
  /*background-image: url("../images/blur.png");*/
  background-repeat: no-repeat;
  background-size: inherit;
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: .7;
}

.blur img {
  height: 100%;
  width: 100%;
}

.day {
  font-size: 2rem;
}

.time {
  font-size: 6rem;
}

body > div:nth-child(1) > h1 > span.name {
  display: inline-block;
  min-width: 10px;
}

.name {
  display: inline-block;
  min-width: 9rem;
}

h1 {
  max-width: 60rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.7;
}

/*WEATHER BLOCK */

.weather-container {
  display: flex;
  gap: 1rem;
  max-width: 25rem;
  /*position: fixed;*/
  top: 0;
  right: 0;
}

.left {
  width: 10rem;
  height: 5rem;
}

.right {
  width: 10rem;
  height: 5rem;
}

.error-city {
  color: red;
}


/*CHANGE  BACKGROUND BUTTON*/

.btn-container {
  display: flex;

}

.btn-container img {
  width: 9rem;
}

.btn {
  max-height: 0;
  border: 0;
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(1);
}

.btn:hover {
  filter: grayscale(.3);
  cursor: pointer;
}

.btn:active,
.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(1.02)
}

/*CHANGE QUOTE BUTTON */
.quote-wrapper {
  max-width: 60rem;
  margin-top: 1rem;
}

.quote {
  height: 10rem;
  font: 1.2rem Georgia, serif;
  margin: 0;
  padding: 1em;
  border-radius: 1em;
}

.quote figcaption,
.quote blockquote {
  margin: 1em;
}

.quote figcaption {
  text-align: right;
}

.quote-btn {
  border: none;
  position: relative;
  /*width: 0;*/
  height: 0;
  filter: grayscale(.8);
}

.quote-btn img {
  /*max-width: 10rem;*/
  /*max-height: 5rem;*/
}

.quote-btn:hover {
  cursor: pointer;
  filter: grayscale(.2);
}

.quote-btn:active,
.quote-btn:focus {
  outline: 0;
}

.quote-btn:active {
  transform: scale(1.02)
}

/*MEDIA QUERIES*/

@media (max-width: 500px) {

  html {
    overflow-x: hidden;
  }

  .right {
    width: 8rem;
  }

  .left {
    width: 8rem;
  }

  .day {
    font-size: 1.5rem;
  }

  .quote-wrapper {
    max-width: 30rem;
    height: 15rem;
  }

  .time {
    font-size: 3rem;
  }

  .name {
    min-width: 3rem;
  }

  h1 {
    font-size: 1.2rem;

  }

}
